body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(230, 239, 247);
}

#logo {
    width: 80px;
}

.espacio-logo {
    float: left;
    left: 30px;
}

.centrado{
    text-align: center;
}

.encabezado {
    padding-top: 30px;
}